<div class="container-fluid"> 
    <div id="carouselExampleInterval" class="carousel slide" >
       
          
           
          
          <div>
            <img src="assets/blood_banner6.jpg" class="d-block w-100" alt="...">
          </div>
        
        <div><br><br><br></div>

    <div class="row " style="padding-left: 135px; padding-bottom: 70px;"> 
        <div class="col-4" style="padding-bottom: 80px;"> 
            <div class="card" style="width: 18rem;">
                <img src="assets/O+blood.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(O+) O positive</h5>
                  <p class="card-text">O positive is the most common blood type</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        <div class="col-4"> 
            <div class="card" style="width: 18rem;">
                <img src="assets/o-blood.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(O-) O Negitive</h5>
                  <p class="card-text">O negative donors are often called 'universal donors'</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        <div class="col-4"> 
            <div class="card" style="width: 18rem;">
                <img src="assets/B+blood.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(B+) B positive</h5>
                  <p class="card-text">Only 8% of donors are B positive but there is always a need for it</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        <div class="col-4"> 
            <div class="card" style="width: 18rem;">
                <img src="assets/B-blood.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(B-) B Negitive</h5>
                  <p class="card-text">Jut 2% fo donors are B negative, making one of the rarest blood types</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        <div class="col-4"> 
            <div class="card" style="width: 18rem;">
                <img src="assets/AB+blood.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(AB+) AB positive</h5>
                  <p class="card-text">Around 2% of donors have AB positive blood</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        <div class="col-4"> 
            <div class="card" style="width: 18rem;">
                <img src="assets/AB-blood.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(AB-) AB Negitive</h5>
                  <p class="card-text">AB negative is the rarest of the 8 main blood types</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        
    </div>
</div>