<div class="container"> 
  <div class="row"> 
    <div class="col-12"> 
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Manage Order</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>price</th>
                <th>Address</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | async">
                <td>{{user.first_name}}</td>
                <td>{{user.email_id}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.price}}</td>
                <td>{{user.last_name}}</td>
                <td>
                  <button (click)="updateUser(user.id)" class="btn btn-warning" 
                         style="margin-left: 50px">Update</button>
                  <button (click)="deleteUser(user.id)" class="btn btn-danger" 
                         style="margin-left: 50px">Delete</button>
                    <button (click)="userDetails(user.id)" class="btn btn-info" 
                         style="margin-left: 50px">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
  </div>
</div>
